@tailwind components;

@layer components {
  article * {
    @apply scroll-p-20;
  }

  article {
    @apply text-balance;
  }

  article img {
    @apply mx-auto;
  }

  article figcaption {
    @apply text-center text-base text-tuatara-500;
  }

  article hr {
    @apply !h-0.5 !border-none !bg-gradient-to-r !from-transparent !via-tuatara-500 to-transparent w-full;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.2s ease-in-out;
  }

  article {
    @apply fade-in;
  }
}
